source https://api.nuget.org/v3/index.json
source https://daily.websharper.com/nuget

framework: netstandard2.0

storage: none
strategy: min

nuget FSharp.Core 4.3.4
nuget WebSharper ~> 4.7
nuget WebSharper.FSharp ~> 4.7

nuget Microsoft.AspNetCore 2.0.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script dotnettool

group testws
    source https://api.nuget.org/v3/index.json
    source https://daily.websharper.com/nuget

    framework: netcoreapp2.1, netcoreapp3.1, net5.0

    storage: none
    
    nuget WebSharper.UI ~> 4.7
    nuget WebSharper.FSharp ~> 4.7
    nuget WebSharper.CSharp ~> 4.7
    nuget WebSharper.UI.CSharp ~> 4.7

group testnetcore21
    source https://api.nuget.org/v3/index.json

    framework: netcoreapp2.1
    
    storage: none

    nuget Microsoft.AspNetCore 2.1.0
    nuget Microsoft.AspNetCore.Authentication.Cookies 2.1.0
    nuget Microsoft.AspNetCore.StaticFiles 2.1.0
