source https://api.nuget.org/v3/index.json
source ../localnuget

framework: netstandard2.0

storage: none
strategy: min

nuget FSharp.Core 5.0.0
nuget WebSharper prerelease
nuget WebSharper.FSharp prerelease
nuget WebSharper.AspNetCore prerelease

nuget Microsoft.AspNetCore 2.0.0

group wsbuild
    git https://github.com/dotnet-websharper/build-script websharper50

group testws
    source https://api.nuget.org/v3/index.json
    source ../localnuget

    framework: netcoreapp2.1, netcoreapp3.1, net5.0

    storage: none
    
    nuget WebSharper.UI prerelease
    nuget WebSharper.FSharp prerelease
    nuget WebSharper.CSharp prerelease
    nuget WebSharper.UI.CSharp prerelease
    nuget WebSharper.AspNetCore prerelease

group testnetcore21
    source https://api.nuget.org/v3/index.json

    framework: netcoreapp2.1
    
    storage: none

    nuget Microsoft.AspNetCore 2.1.0
    nuget Microsoft.AspNetCore.Authentication.Cookies 2.1.0
    nuget Microsoft.AspNetCore.StaticFiles 2.1.0
